<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @builder.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @builder.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @builder.email %>
</p>

<p>
  <strong>Password:</strong>
  <%= @builder.password %>
</p>

<%= link_to 'Edit', edit_builder_path(@builder) %> |
<%= link_to 'Back', builders_path %>
